#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
  color:white !important;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}
 h1 {
  color: white;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  padding: 20px

}
